<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jp_funda.todomind">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSplash"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ReminderActivity"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/Theme.TodoMind" />

        <receiver
            android:name=".notification.Reminder"
            android:enabled="true"
            android:exported="true"
            android:permission="false" />

    </application>

</manifest>